<!DOCTYPE html5>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Formações Acadêmicas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="itemMenu" href="../index.html">Sobre mim</a></li>
                <li><a class="itemMenu" href="formacao.html">Formação acadêmica</a></li>
                <li><a class="itemMenu" href="portfolio.html">Portfólio</a></li>
                <li><a class="itemMenu" href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Formações Acadêmicas</h1>

        <section>
            <ul class="formacoes">
                <li>
                    Formado em Administração de Empresas pela CNEC Gravataí (2021)
                </li>

                <li>
                    Cursando Análise e Desenvolvimento de Sistemas na UNINTER
                </li>
            </ul>
        </section>
    </main>
</body>
</html>