<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Formações Acadêmicas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="itemMenu" href="../index.html">Sobre mim</a></li>
                <li><a class="itemMenu" href="formacao.html">Formação acadêmica</a></li>
                <li><a class="itemMenu" href="portfolio.html">Portfólio</a></li>
                <li><a class="itemMenu" href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Porfólio</h1>

        <h3>Lista com alguns projetos de front end desenvolvidos por mim ao longo do tempo utilizando tecnologias diversas.</h3>

        <section>
            <ul id="listaProjetos">
                <li><a target="_blank" href="../projetos/CalculadoraJquery/index.html">Projeto de calculadora usando Jquery</a></li>
                <li><a target="_blank" href="../projetos/galeriaSass/index.html">Projeto deGaleria de fotos responsiva usando SASS</a></li>
                <li><a target="_blank" href="../projetos/NFTCard/index.html">Projeto de construção de landing page de NFT card</a></li>
                <li><a target="_blank" href="../projetos/TaskList/index.html">Projeto de lista de tarefas</a></li>
            </ul>
        </section>
    </main>
</body>
</html>